body {
    background-color: #f1f1f1;
}

a:link {
	text-decoration: none;
	color: #777777;
}

a:visited {
  text-decoration: none;
  color: #777777;
}

a:hover {
  color: #777777;
  text-decoration: none;
  background-color: #f1f1f1;
}

a:active {
  text-decoration: none;
	}

.header {
	background-color: #ffffff;
	border-bottom: solid #cccccc 1px;
	height: 60px;
}

.inner-header {
	color: #777777;
	height: 60px;
	width: 960px;
	margin: 0px auto;
}

.logo {
	background-color: #4aaaa5;
	color: white;
	font-weight: bold;
	font-size: 25px;
	width: 200px;
	height: 40px;
	text-align: center;
	padding-top: 20px;
	float: left;
}

.menu {
	text-decoration: none;
	color: #777777;
	width: 196px;
	height: ;
	float: right;
	padding-top: 20px;
}

.list {
	font-family: 'Arial';
	display: inline;
	padding: 1px;
}

.container {
	clear: both;
	background-color: #ffffff;
	margin: 40px auto;
	width: 900px;
	height: 450px;
	border: solid 1px;
	border-color: #dddddd;
	text-align: left;
	line-height: 1.5em;
	color: #777777;
	padding: 30px;
	overflow: auto;
}

.header2 {
	font-family: 'Georgia';
	color: #4aaaa5;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 20px;
}

#profile-image {
	float: left;
	margin-right: 20px;
}

.text {
	font-family: 'Arial';
	font-size: 16px;
}

.image {
	width: 350px;
	height: 250px;
}

.image-container {
	width: 350px;
	height: 200px;
	margin: 20px;
	margin-bottom: 90px;
	float: left;
}

.input-bar {
	width: 895px;
	color: #777777;
}

.message-box {
	width: 895px;
	height: 200px;
	vertical-align: top;
	color: #777777;
}

.submit-button {
	background-color: #4aaaa5;
	color: white;
	width: 80px;
	height: 30px;
	text-align: center;
}

.image-label {
	background-color: #4aaaa5;
	color: white;
	width: 350px;
	height: 40px;
	text-align: center;
	padding-top: 15px;
	font-family: 'Georgia';
	position: relative;
	bottom: 80px;
}

.label {
	color: white;
}


.footer {
	background-color: #666666;
	border-top: solid 3px;
	border-top-color: #4aaaa5;
	height: 20px;
	text-align: center;
	padding-top: 40px;
	color: #f1f1f1;
}